@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('ProximaNova-Bold.eot');
  src: url('ProximaNova-Bold.woff2') format('woff2'),
       url('ProximaNova-Bold.woff') format('woff'),
       url('ProximaNova-Bold.ttf') format('truetype'),
       url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('ProximaNova-Regular.eot');
  src: url('ProximaNova-Regular.woff2') format('woff2'),
       url('ProximaNova-Regular.woff') format('woff'),
       url('ProximaNova-Regular.ttf') format('truetype'),
       url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
       url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


