<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CloudCV Fabrik</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap-3.3.6-dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/fonts/font.css"/>
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap-3.3.6-dist/css/bootstrap-social.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/searchbar_style.css">
  <link rel="stylesheet" type="text/css" href="/static/css/login_style.css">
  <link rel="stylesheet" type="text/css" href="/static/css/zoo.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110495971-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-110495971-1');
  </script>

</head>
<body>
  <div id="app"></div>
  <a href="#" id="download" style="display:none;"> Download </a>
</body>
<script>var instance;</script>
<script src="/static/lib/jquery.min.js"></script>
<script src="/static/lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="/static/lib/jsPlumb-2.1.2-min.js"></script>
<script src="/static/bundle/bundle.js"></script>
</html>
