<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CloudCV IDE</title>
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap-3.3.6-dist/css/bootstrap.css">
</head>
<body>
  <div id="app"></div>
  <a href="#" id="download" style="display:none;"> Download </a>
</body>
<script>var instance;</script>
<script src="/static/lib/jquery.min.js"></script>
<script src="/static/lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="/static/lib/jsPlumb-2.1.2-min.js"></script>
<script src="/static/bundle/bundle.js"></script>
</html>
