# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.Python
env/

.coverage
.coverage.*
.cache

# Django stuff:
*.log
*.sqlite3

# Sphinx documentation
docs/_build/

node_modules/

*.pyc

*/migrations/
