<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CloudCV IDE</title>
  <link rel="stylesheet" type="text/css" href="/static/cloudcvIde/lib/bootstrap-3.3.6-dist/css/bootstrap.css">
</head>
<body>
  <div id="app"></div>
  <div id="demo">
    <a href="#" class="btn btn-success" id="download" style="margin-bottom:10px;display:none;" >
      Download prototxt
    </a>
  </div>
</body>
<script>var instance,addLayerEndpoints;</script>
<script src="/static/cloudcvIde/lib/jquery.min.js"></script>
<script src="/static/cloudcvIde/lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="/static/cloudcvIde/lib/jsPlumb-2.1.2-min.js"></script>
<script src="/static/cloudcvIde/bundle/bundle.js"></script>
</html>
