<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CloudCV IDE</title>
</head>
<body>
<div id="app"></div>
<div id="demo">
<div id="prototxt" style="white-space:pre-wrap;padding-left:50px"></div><!-- just to show prototxt in demo... to be deleted -->
<br/>
<button id="train" class="btn btn-primary">Train</button>
<h3>Terminal</h3>
<div id= "terminal"></div>
</div>

</body>

<script>var instance,addLayerEndpoints,prototxtId;</script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/static/cloudcvIde/lib/jsPlumb-2.1.2-min.js"></script>
<script src="/static/cloudcvIde/bundle/bundle.js"></script>


</html>
