#demo{
    padding-left: 100px;
    padding-right: 100px;
}

#terminal{
    white-space:pre-wrap;
    padding-left:50px;
    height: 300px;
    width: 100%;
    padding: 20px;
    color: #FFFFFF;
    background-color: #2B2A2B;
    overflow:scroll;
}

.app{
  padding: 10px;
}

.topBar{
  padding-bottom: 10px;
}

.topBarHead{
  font-size: 30px;
}

.topBar .btn{
  margin: 5px;
  overflow: auto;
}

.content{
  height: 565px;
}

.canvas{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.setHead{
  font-size: 25px;
  color: green;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.setContain{
  padding-right: 40px;
}

.pane{
  background-color: rgba(0,0,0,0.75);
  height: 100%;
  padding: 20px;
  padding-top: 20px;
}

.pane .btn-block{
  margin-bottom: 15px;
}

.setparams{
  background-color: rgba(0,0,0,0.75);
  height: 100%;
  color: white;
  overflow-y: auto;
  padding-bottom: 50px;
}

.layer{
  font-size: 22px;
  border: 1px solid black;
  -moz-border-radius: 1em;
  border-radius: 1em;
  padding: 20px 40px 20px 40px;
  max-height: 320px;
  width: 130px;
  text-align: center;
  position: absolute;
  z-index: 20;
  background: #e15e4f;
  color: white;
  cursor: pointer;
}

.selected{
  box-shadow: 0px 0px 30px #aaa;
  -o-box-shadow: 0px 0px 30px #aaa;
  -webkit-box-shadow: 0px 0px 30px #aaa;
  -moz-box-shadow: 0px 0px 30px #aaa;
  -moz-border-radius: 1em;
}

.jsplumb-connector {
  z-index: 20;
}

.jsplumb-endpoint, .endpointTargetLabel, .endpointSourceLabel {
  z-index: 21;
}

.jsplumb-endpoint {
  cursor: pointer;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.jsplumb-connected {
  border: 1px solid black;
  box-shadow: 0px 0px 5px #aaa;
  -o-box-shadow: 0px 0px 5px #aaa;
  -webkit-box-shadow: 0px 0px 5px #aaa;
  -moz-box-shadow: 0px 0px 5px #aaa;
  -moz-border-radius: 1em;
}

.layer.jsplumb-drag {
  box-shadow: 0px 0px 30px #aaa;
  -o-box-shadow: 0px 0px 30px #aaa;
  -webkit-box-shadow: 0px 0px 30px #aaa;
  -moz-box-shadow: 0px 0px 30px #aaa;
  -moz-border-radius: 1em;
}

.jsplumb-endpoint {
  cursor: pointer;
}

.error{
    padding: 3px;
    width:96%;
    padding-left: 10px;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    z-index: 22;
    position: absolute;
}

.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
